.filter-block {
  .panel {
    .color-palette {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      justify-items: center;

      .color-swatch {
        border-radius: var(--border-radius-md);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        text-align: center;
        span {
          margin-top: 60px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 350px) {
  .filter-block .panel .color-box-wrapper .color-box {
    height: 30px;
    width: 30px;
  }
}
