.mobile-menu {
  width: 30px;
  height: 30px;
  .mobile-header-menu-btn {
    background-color: var(--primary-background-color);
    width: 30px;
    height: 30px;

    &:hover {
      background-color: var(--hover-gray);
      border-radius: var(--border-radius-sm);
    }
  }

  .mobile-accordion-container {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 1400px;
    z-index: 1000;
    overflow-y: scroll;
    overscroll-behavior: contain;

    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &.open {
      transform: translateX(0);
    }

    hr {
      margin: 20px 0;
    }

    .mobile-accordion-header {
      display: flex;
      justify-content: space-between;
    }

    li {
      padding: 2px 6px;
    }

    .close-button {
      background-color: white;
      &:active {
        background-color: var(--primary-color);
      }
    }

    button {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    .menu-bottom .menu-category-list {
      border-bottom: none;

      p {
        font-size: 2rem;
        padding-bottom: 30px;
        text-align: center;
      }

      .down-arrow {
        display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
        width: 40px;
      }

      .menu-social-container {
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .social-link {
          display: flex;
          background: var(--hover-gray);
          color: var(--eerie-black);
          font-size: 2rem;
          padding: 10px;
          width: 50px;
          height: 50px;
          -webkit-border-radius: var(--border-radius-md);
          border-radius: var(--border-radius-md);

          img {
            width: 30px;
          }
        }
      }
    }

    .accordion-style {
      display: flex;
      justify-content: space-between;

      .rotate-icon {
        width: 28px;
        transition: transform 0.3s ease-in-out;
        transform: rotate(deg); // initial state, for '+'

        &.open {
          transform: rotate(180deg); // for '-'
        }
      }
    }

    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      &.open {
        max-height: 200px; // adjust based on your content
      }
    }
  }

  .overlay.open {
    display: block;
  }
}
