// Global colors
$primary-font-color: rgb(20, 20, 20);
$secondary-font-color: rgb(70, 70, 70);
$primary-background-color: rgb(248, 248, 248);

$hover-color: rgb(220, 220, 220);

$border-radius-small: 5px;
$border-radius-mid: 10px;
$border-radius-large: 15px;
$border-radius-round: 50%;

// Imports
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  // Colors

  --primary-color: #fde8e1;
  --primary-color-dark: #ffd9cd;
  --primary-color-extra-dark: #ffcab9;
  --primary-font-color: #38211d;
  --primary-font-color-light: #4d4d4d;
  --secondary-font-color: #a54a2f;
  --primary-background-color: #fffbe8;
  --secondary-background-color: #fff5db;
  --hover-gray: rgb(238, 238, 238);

  --bittersweet: hsl(0, 100%, 70%);

  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: rgb(255, 143, 156);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  // Border Radius
  --border-radius-round: 50%;
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button {
  font-family: "Lora", serif;
  border: 0;
  color: var(--primary-font-color);
}

body {
  font-family: "Lora", serif;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  font-size: 1.8rem;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  -webkit-tap-highlight-color: var(--primary-font-color);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

li {
  list-style-type: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $primary-font-color;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primary-font-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Apply the custom scrollbar globally */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 0px solid hsl(0, 0%, 93%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
}

.css-checkbox {
  position: static;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#inputPreview {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.css-checkbox + label {
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 1px 0;
  height: 28px;
  color: var(--primary-font-color);
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 6px;
  box-shadow: rgba(42, 42, 42, 0.6) 0px 0px 4px 0px;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIiIGQ9Ik0xNzMuODk4IDQzOS40MDRsLTE2Ni40LTE2Ni40Yy05Ljk5Ny05Ljk5Ny05Ljk5Ny0yNi4yMDYgMC0zNi4yMDRsMzYuMjAzLTM2LjIwNGM5Ljk5Ny05Ljk5OCAyNi4yMDctOS45OTggMzYuMjA0IDBMMTkyIDMxMi42OSA0MzIuMDk1IDcyLjU5NmM5Ljk5Ny05Ljk5NyAyNi4yMDctOS45OTcgMzYuMjA0IDBsMzYuMjAzIDM2LjIwNGM5Ljk5NyA5Ljk5NyA5Ljk5NyAyNi4yMDYgMCAzNi4yMDRsLTI5NC40IDI5NC40MDFjLTkuOTk4IDkuOTk3LTI2LjIwNyA5Ljk5Ny0zNi4yMDQtLjAwMXoiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 4px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 20px;
  width: 20px;
}

@media (min-width: 0px) {
  .App {
    margin: 0 10px;
  }
}

@media (min-width: 425px) {
  .App {
    margin: 0 20px;
  }
}
@media (min-width: 768px) {
  .App {
    margin: 0 30px;
  }
}
